<!doctype html>
<html lang="en">
<head>
    <title>Dog Breed Predictor Home Page</title>
<link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div >
      <h1 class="center" class="title">You inputted... </h1> 
      <img src="{{ img_path }}" alt="User Image" width=300px height=400px>
    </div>
   <div >
      {% if human== 0 %}<h1 class="center" class="title"> This dog looks like a {{ model_output }}.</h1>

      <div>
            <img  src = "{{img_dog}}" width=300px height=400px>
         </div>

      
    {% elif human== 1 %}<h1 class="center" class="title"> This person looks like a {{ model_output }}.</h1>
      
<div>
      <img src="{{ img_dog }}" alt="User Image" width=300px height=400px></div>

     
      
    {% else %} <h1 class="center" class="title">This is neither a person nor a dog. Please go back and input another image </h1>
    {% endif %}</div >
      
    
        
</body>
</html>