<!doctype html>
<html lang="en">
<head>
    <title>Dog Breed Predictor Home Page</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
  
  <h1 class="center" class="title">Like master like dog</h1>
      <h1 class="center" class="title">Discover your inner-dog</h1>
        <p class = intro> The code behind the model used in this app can be found on 
<a href="https://github.com/Pa0laC/capstone">Github</a>.
        It utilizes InceptionV3, a pre-trained CNN, to predict with an accuracy over 70% what dog breed you resemble.
      
 </p>
    <div >
        
            <p>
    <img  src = '../../KanyeWest.jpg' width=300px height=400px>
            <img  src = '../../German_pinscher_04838.jpg' width=300px height=400px>
</p>
</div>
         
 <div >
    <h2 class="center" >Try it yourself !</h2></div>
     <div >
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" / value="Select Image">
        <input class="center" type = "submit" value="Upload"> 
            
        
    </form>

        </div>
        
</body>
</html>